# Bar Charts of Titanic Passenger Ages
## Compute age frequencies with client-side Python

In [1]:
import matplotlib.pyplot as plt
import numpy as np
from DATA225utils import make_connection, dataframe_query

#### Download all the data and do the frequency calculations.

In [3]:
conn = make_connection(config_file = 'titanic.ini')
cursor = conn.cursor()

In [4]:
cursor.execute('SELECT * FROM passengers')
rows = cursor.fetchall()

ProgrammingError: 1146 (42S02): Table 'titanic.passengers' doesn't exist

In [ ]:
baby = 0
child = 0
teen = 0
youth = 0
adult = 0
senior = 0

print(f'{rows[0] = }')
print(f'{rows[0][3] = }')

In [ ]:
for row in rows:
    age = row[3]
    
    if age != 0:
        age = float(age)  # string to float
        
        if   age >= 65:  senior += 1
        elif age >= 25:   adult += 1
        elif age >= 20:   youth += 1
        elif age >= 13:    teen += 1
        elif age >=  2:   child += 1
        else:              baby += 1

In [ ]:
print(f'{   baby = }')
print(f'{  child = }')
print(f'{   teen = }')
print(f'{  youth = }')
print(f'{  adult = }')
print(f'{ senior = }')

#### Create the bar chart.

In [ ]:
labels = [ 'baby', 'child', 'teen', 
          'youth', 'adult', 'senior' ]
counts = [ baby, child, teen,
           youth, adult, senior ]

fig = plt.figure(figsize = (6, 5))

plt.bar(labels, counts, color = 'maroon', width = 0.5)

plt.xlabel('Age categories')
plt.ylabel('Counts')
plt.title('Titanic Age Counts')

In [ ]:
cursor.close()
conn.close()