In [1]:
import pandas as pd
import numpy as np

# Part 1

In [5]:
heartTraindf = pd.read_csv("Part1_dataset/heart-train.csv")
heartTestdf = pd.read_csv("Part1_dataset/heart-test.csv")

In [6]:
heartTraindf.head()

   sbp  tobacco   ldl  adiposity  famhist  typea  obesity  alcohol  age  chd
0  134    13.60  3.50      27.78  Present     60    25.99    57.34   49    1
1  132     6.20  6.47      36.21  Present     62    30.77    14.14   45    0
2  142     4.05  3.38      16.20   Absent     59    20.81     2.62   38    0
3  114     4.08  4.59      14.60  Present     62    23.11     6.72   58    1
4  114     0.00  3.83      19.40  Present     49    24.86     2.49   29    0

### 1. Identify the dataset columns into nominal, categorical, continuous, etc. categories

In [12]:
heartTraindf.data_type()

AttributeError: 'DataFrame' object has no attribute 'data_type'