DataFrame is a 2-dimensional labeled data structure with columns of potentially different types

In [ ]:
# Importing the Pandas and NumPy module
import pandas as pd
import numpy as np

Two ways to create dataframes-Manually and importing

In [ ]:
#Manually Creating the dataframe
df1 = pd.DataFrame({'Order': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10,
                            11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
                   'Gender': ['Male', 'Female', 'Male', 'Male', 'Male', 'Male',
                               'Male', 'Male', 'Male', 'Female', 'Female', 'Female', 'Female',
                               'Male', 'Male', 'Male', 'Male', 'Female', 'Female', 'Female'],
                   'DominantHand': ['R', 'R', 'R', 'R', 'L', 'R', 'L', 'R', 'R', 'R', 'R',
                               'L', 'L', 'R', 'L', 'R', 'R', 'R', 'R', 'R']})

In [100]:
#Printing the dataframe
print(df1)

    Order  Gender DominantHand
0       1    Male            R
1       2  Female            R
2       3    Male            R
3       4    Male            R
4       5    Male            L
5       6    Male            R
6       7    Male            L
7       8    Male            R
8       9    Male            R
9      10  Female            R
10     11  Female            R
11     12  Female            L
12     13  Female            L
13     14    Male            R
14     15    Male            L
15     16    Male            R
16     17    Male            R
17     18  Female            R
18     19  Female            R
19     20  Female            R

In [101]:
#Reading from CSV file to a Dataframe
df2= pd.read_csv('demographics.csv')

In [102]:
print(df2)

   First Name  DominantHand  Gender
0       Aaron  Right Handed  Female
1     Abigail  Right Handed    Male
2     Addison   Left Handed  Female
3       Aiden  Right Handed    Male
4   Alexander  Right Handed    Male
..        ...           ...     ...
95    William  Right Handed    Male
96     Willow  Right Handed  Female
97      Wyatt   Left Handed  Female
98        Zoe  Right Handed  Female
99       Zoey  Right Handed    Male

[100 rows x 3 columns]

In [103]:
#printing Top 5 Rows of the DF
df2.head()

  First Name  DominantHand  Gender
0      Aaron  Right Handed  Female
1    Abigail  Right Handed    Male
2    Addison   Left Handed  Female
3      Aiden  Right Handed    Male
4  Alexander  Right Handed    Male

In [104]:
#using shape property to get the number of rows and columns
df2.shape

(100, 3)

In [105]:
#info funtion returns some basic tallied data about the dataframe
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   First Name    100 non-null    object
 1   DominantHand  100 non-null    object
 2   Gender        100 non-null    object
dtypes: object(3)
memory usage: 2.5+ KB

In [106]:
#index property returns the starting index, ending index and the step size of the dataframe
df2.index

RangeIndex(start=0, stop=100, step=1)

In [107]:
#printing Top 5 Rows of the DF
df2.columns

Index(['First Name', 'DominantHand', 'Gender'], dtype='object')

In [108]:
#printing Top 5 Rows of the DF
df2.describe()

       First Name  DominantHand Gender
count         100           100    100
unique         93             2      2
top       Jackson  Right Handed   Male
freq            2            87     52

In [109]:
#printing the row at a specific location
df2.loc[0]

First Name             Aaron
DominantHand    Right Handed
Gender                Female
Name: 0, dtype: object

In [111]:
#printing the rows at a specific locations
print(df2.loc[[0, 10]])

   First Name  DominantHand  Gender
0       Aaron  Right Handed  Female
10     Aubrey  Right Handed  Female

In [112]:
#checking for null values
df2.isnull()

    First Name  DominantHand  Gender
0        False         False   False
1        False         False   False
2        False         False   False
3        False         False   False
4        False         False   False
..         ...           ...     ...
95       False         False   False
96       False         False   False
97       False         False   False
98       False         False   False
99       False         False   False

[100 rows x 3 columns]

In [ ]:
#filling the null values with a constant
df2.fillna(0)

In [ ]:
#dropping rows with null values
df2.dropna()

In [116]:
#Manually Creating the dataframe
df3 = pd.DataFrame({'Order': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10,
                            11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
                   'Gender': ['Male', 'Female', 'Male', 'Male', 'Male', 'Male',
                               'Male', 'Male', 'Male', 'Female', 'Female', 'Female', 'Female',
                               'Male', 'Male', 'Male', 'Male', 'Female', 'Female', 'Female'],
                   'DominantHand': [np.nan, 'R', 'R', 'R', 'L', 'R', 'L', 'R', 'R', 'R', 'R',
                               'L', 'L', 'R', 'L', 'L', 'R', 'R', 'R', 'R']})

In [113]:
df3.head()

   Order  Gender DominantHand
0      1    Male          NaN
1      2  Female            R
2      3    Male            R
3      4    Male            R
4      5    Male            L

In [114]:
df3.isnull()

    Order  Gender  DominantHand
0   False   False          True
1   False   False         False
2   False   False         False
3   False   False         False
4   False   False         False
5   False   False         False
6   False   False         False
7   False   False         False
8   False   False         False
9   False   False         False
10  False   False         False
11  False   False         False
12  False   False         False
13  False   False         False
14  False   False         False
15  False   False         False
16  False   False         False
17  False   False         False
18  False   False         False
19  False   False         False

In [115]:
df3.fillna('R')

    Order  Gender DominantHand
0       1    Male            R
1       2  Female            R
2       3    Male            R
3       4    Male            R
4       5    Male            L
5       6    Male            R
6       7    Male            L
7       8    Male            R
8       9    Male            R
9      10  Female            R
10     11  Female            R
11     12  Female            L
12     13  Female            L
13     14    Male            R
14     15    Male            L
15     16    Male            L
16     17    Male            R
17     18  Female            R
18     19  Female            R
19     20  Female            R

In [117]:
df3.dropna()

    Order  Gender DominantHand
1       2  Female            R
2       3    Male            R
3       4    Male            R
4       5    Male            L
5       6    Male            R
6       7    Male            L
7       8    Male            R
8       9    Male            R
9      10  Female            R
10     11  Female            R
11     12  Female            L
12     13  Female            L
13     14    Male            R
14     15    Male            L
15     16    Male            L
16     17    Male            R
17     18  Female            R
18     19  Female            R
19     20  Female            R

index()	Method returns index (row labels) of the DataFrame
insert()	Method inserts a column into a DataFrame
add()	Method returns addition of dataframe and other, element-wise (binary operator add)
sub()	Method returns subtraction of dataframe and other, element-wise (binary operator sub)
mul()	Method returns multiplication of dataframe and other, element-wise (binary operator mul)
div()	Method returns floating division of dataframe and other, element-wise (binary operator truediv)
unique()	Method extracts the unique values in the dataframe
nunique()	Method returns count of the unique values in the dataframe
value_counts()	Method counts the number of times each unique value occurs within the Series
columns()	Method returns the column labels of the DataFrame
axes()	Method returns a list representing the axes of the DataFrame
isnull()	Method creates a Boolean Series for extracting rows with null values
notnull()	Method creates a Boolean Series for extracting rows with non-null values
between()	Method extracts rows where a column value falls in between a predefined range
isin()	Method extracts rows from a DataFrame where a column value exists in a predefined collection
dtypes()	Method returns a Series with the data type of each column. The result’s index is the original DataFrame’s columns
astype()	Method converts the data types in a Series
values()	Method returns a Numpy representation of the DataFrame i.e. only the values in the DataFrame will be returned, the axes labels will be removed
sort_values()- Set1, Set2	Method sorts a data frame in Ascending or Descending order of passed Column
sort_index()	Method sorts the values in a DataFrame based on their index positions or labels instead of their values but sometimes a data frame is made out of two or more data frames and hence later index can be changed using this method
rename()	Method is called on a DataFrame to change the names of the index labels or column names
columns()	Method is an alternative attribute to change the coloumn name
drop()	Method is used to delete rows or columns from a DataFrame
pop()	Method is used to delete rows or columns from a DataFrame
sample()	Method pulls out a random sample of rows or columns from a DataFrame
nsmallest()	Method pulls out the rows with the smallest values in a column
nlargest()	Method pulls out the rows with the largest values in a column
shape()	Method returns a tuple representing the dimensionality of the DataFrame
ndim()	Method returns an ‘int’ representing the number of axes / array dimensions.
Returns 1 if Series, otherwise returns 2 if DataFrame
dropna()	Method allows the user to analyze and drop Rows/Columns with Null values in different ways
fillna()	Method manages and let the user replace NaN values with some value of their own
rank()	Values in a Series can be ranked in order with this method
query()	Method is an alternate string-based syntax for extracting a subset from a DataFrame
copy()	Method creates an independent copy of a pandas object
duplicated()	Method creates a Boolean Series and uses it to extract rows that have duplicate values
drop_duplicates()	Method is an alternative option to identifying duplicate rows and removing them through filtering
set_index()	Method sets the DataFrame index (row labels) using one or more existing columns
reset_index()	Method resets index of a Data Frame. This method sets a list of integer ranging from 0 to length of data as index
where()	Method is used to check a Data Frame for one or more condition and return the result accordingly. By default, the rows not satisfying the condition are filled with NaN value