In [1]:
from DATA225utils import make_connection

In [2]:
conn = make_connection(config_file = 'titanic.ini')
cursor = conn.cursor()

In [3]:
cursor.execute('DROP PROCEDURE IF EXISTS some_passengers')
cursor.execute('DROP PROCEDURE IF EXISTS find_passengers')
cursor.execute('DROP PROCEDURE IF EXISTS count_passengers')

In [4]:
cursor.execute( 
    """
    CREATE PROCEDURE some_passengers()
    BEGIN
        SELECT *
        FROM passengers
        LIMIT 10;
    END
    """
              )

In [5]:
cursor.execute( 
    """
    CREATE PROCEDURE find_passengers(IN sex CHAR(6), 
                                     IN min_age DOUBLE, IN max_age DOUBLE, 
                                     IN survived CHAR(3), IN klass CHAR(3))
    BEGIN
        SELECT p.name, p.age, p.survived, p.passenger_class
        FROM passengers AS p
        WHERE p.sex = sex
        AND   p.age BETWEEN min_age AND max_age
        AND   p.survived = survived
        AND   p.passenger_class = klass;
    END
    """
              )

In [6]:
cursor.execute( 
    """
    CREATE PROCEDURE count_passengers(IN sex CHAR(6), 
                                      IN min_age DOUBLE, IN max_age DOUBLE, 
                                      IN survived CHAR(3), IN klass CHAR(3), 
                                      OUT kount INT)
    BEGIN
        SELECT count(*)
        INTO kount
        FROM passengers AS p
        WHERE p.sex = sex
        AND   p.age BETWEEN min_age AND max_age
        AND   p.survived = survived
        AND   p.passenger_class = klass;
    END
    """
              )

In [7]:
cursor.close()
conn.close()