In [34]:
import pandas as pd
import numpy as np

In [35]:
teams_df = pd.read_csv("teams.csv")
teamstats_df = pd.read_csv("teamstats.csv")

These are one-to-many relationship dataset.

In [36]:
teams_df.head()

   teamID                  name
0      71           Aston Villa
1      72               Everton
2      74           Southampton
3      75             Leicester
4      76  West Bromwich Albion

In [37]:
teamstats_df.head()

,gameID,teamID,season,date,location,goals,xGoals,shots,shotsOnTarget,deep,ppda,fouls,corners,yellowCards,redCards,result
0,81,89,2015,2015-08-08 15:45:00,h,1,0.627539,9,1,4,13.8261,12,1,2.0,0,W
1,81,82,2015,2015-08-08 15:45:00,a,0,0.674600,9,4,10,8.2188,12,2,3.0,0,L
2,82,73,2015,2015-08-08 18:00:00,h,0,0.876106,11,2,11,6.9000,13,6,3.0,0,L
3,82,71,2015,2015-08-08 18:00:00,a,1,0.782253,7,3,2,11.8462,13,3,4.0,0,W
4,83,72,2015,2015-08-08 18:00:00,h,2,0.604226,10,5,5,6.6500,7,8,1.0,0,D

In [38]:
teams_df.isna().sum()

teamID    0
name      0
dtype: int64

In [39]:
teamstats_df.isna().sum()

gameID           0
teamID           0
season           0
date             0
location         0
goals            0
xGoals           0
shots            0
shotsOnTarget    0
deep             0
ppda             0
fouls            0
corners          0
yellowCards      1
redCards         0
result           0
dtype: int64

In [47]:
teamstats_df[teamstats_df["yellowCards"].isna()]

,gameID,teamID,season,date,location,goals,xGoals,shots,shotsOnTarget,deep,ppda,fouls,corners,yellowCards,redCards,result
8280,4888,95,2014,2015-03-02 19:45:00,h,1,0.355629,8,3,2,8.1923,11,1,NaN,1,D

In [50]:
# new teamstats dataframe with substitute NaN value to 0

teamstats_df_filtered = teamstats_df.fillna(0)

In [51]:
teamstats_df_filtered.isna().sum()

gameID           0
teamID           0
season           0
date             0
location         0
goals            0
xGoals           0
shots            0
shotsOnTarget    0
deep             0
ppda             0
fouls            0
corners          0
yellowCards      0
redCards         0
result           0
dtype: int64