# Dynamically Generated Query String

### Since we embed SQL code in our Python programs as a string, we can dynamically generate the strings. This greatly enhances the flexibility of our code.

In [1]:
from DATA225utils import make_connection, dataframe_query

In [5]:
def students_of(conn, first_name, last_name):
    """
    Use the database connection conn to
    return the students of the teacher
    with the first and last names.
    """
    # Generate the appropriate query string.
    sql = ( """
            SELECT student.first, student.last, subject 
            FROM student, teacher, class, takes
            """
          f"WHERE teacher.last = '{last_name}' "  # insert last name
          f"AND teacher.first = '{first_name}' "  # insert first name
            """
            AND teacher_id = teacher.id 
            AND code = class_code 
            AND student_id = student.id 
            ORDER BY subject, student.last
            """
          )
    
    print(sql)
    return dataframe_query(conn, sql)

In [6]:
conn = make_connection('school.ini')

In [7]:
first = 'John'
last  = 'Lane'

In [6]:
print(f'Students of teacher {first} {last}:')

count, students = students_of(conn, first, last)

if count > 0:
    display(students)
else:
    print('No students.')

Students of teacher John Lane:

            SELECT student.first, student.last, subject
            FROM student, teacher, class, takes
            WHERE teacher.last = 'Lane' AND teacher.first = 'John'
            AND teacher_id = teacher.id
            AND code = class_code
            AND student_id = student.id
            ORDER BY subject, student.last

  first   last      subject
0  John    Doe  Data Mining
1   Kim  Smith  Data Mining

In [7]:
conn.close()

In [ ]:
# Copyright (c) 2023 by Ronald Mak