In [1]:
from mysql.connector import MySQLConnection, Error

In [2]:
def make_connection():
    """
    Make a connection to the school database.
    """
    try:
        conn = MySQLConnection(host='localhost',
                               database='school',
                               user='root',
                               password='seekrit')
        
        if conn.is_connected():
            print('Connected to the MySQL database!')
            
            return conn
                
    except Error as e:
        print('Connection failed.')
        print(e)
        
        return None

In [3]:
conn = make_connection()
cursor = conn.cursor()

Connected to the MySQL database!

In [4]:
sql = "SELECT * FROM class"

cursor.execute(sql)
rows = cursor.fetchall()

for row in rows:
    print(row)

('DATA 200', 'Python Programming', 101, 'T7051')
('DATA 220', 'Mathematical Models', 114, 'T7008')
('DATA 225', 'Database Systems', 101, 'T7003')
('DATA 240', 'Data Mining', 120, 'T7012')
('DATA 245', 'Machine Learning', 115, 'T7051')

In [5]:
sql = ( """
        SELECT student.first, student.last, subject 
        FROM student, teacher, class, takes 
        WHERE teacher.last = 'Flynn' 
        AND teacher.first = 'Mabel' 
        AND teacher_id = teacher.id 
        AND code = class_code 
        AND student_id = student.id 
        ORDER BY subject, student.last
        """
      )

cursor.execute(sql)
rows = cursor.fetchall()

for row in rows:
    print(row)

('Mary', 'Jane', 'Machine Learning')
('Tim', 'Nova', 'Machine Learning')
('Mary', 'Jane', 'Python Programming')
('Kim', 'Smith', 'Python Programming')

In [6]:
cursor.close()
conn.close()