## **Homework 4**

_Sungwon Lee_

_017473950_

In [1]:
from scipy.stats import *
import pandas as pd
import numpy as np

### 1.

In [5]:
bankdf = pd.read_csv("Bank.csv")
bankdf.head()

   Unnamed: 0  Age  Income  Education  PersonalLoan
0           0   25      49          1             0
1           1   45      34          1             0
2           2   39      11          1             0
3           3   35     100          2             0
4           4   35      45          2             0

### 2.

In [6]:
LoanYes = bankdf[bankdf["PersonalLoan"] == 1]
LoanNo = bankdf[bankdf["PersonalLoan"] == 0]

In [7]:
LoanYes.head()

    Unnamed: 0  Age  Income  Education  PersonalLoan
9            9   34     180          3             1
16          16   38     130          3             1
18          18   46     193          3             1
29          29   38     119          2             1
38          38   42     141          3             1

In [8]:
LoanNo.head()

   Unnamed: 0  Age  Income  Education  PersonalLoan
0           0   25      49          1             0
1           1   45      34          1             0
2           2   39      11          1             0
3           3   35     100          2             0
4           4   35      45          2             0

### 3-a.

Show your results for a 95% confidence level (p=0.05). \
(Note: your Null hypothesis (H0) is that the population mean of the two groups is the same (no difference)

#### Age

In [9]:
tstat, p = ttest_ind(LoanYes["Age"], LoanNo["Age"])
print('t_c = %.3f, p = %.3f' % (tstat, p))

if p > 0.05:
    print("Cannot reject H0 : No difference")
else:
    print("Can reject H0 : Difference")

t_c = -0.546, p = 0.585
Cannot reject H0 : No difference

#### Income

In [11]:
tstat, p = ttest_ind(LoanYes["Income"], LoanNo["Income"])
print('t_c = %.3f, p = %.3f' % (tstat, p))

if p > 0.05:
    print("Cannot reject H0 : No difference")
else:
    print("Can reject H0 : Difference")

t_c = 41.085, p = 0.000
Can reject H0 : Difference

#### Education

In [12]:
tstat, p = ttest_ind(LoanYes["Education"], LoanNo["Education"])
print('t_c = %.3f, p = %.3f' % (tstat, p))

if p > 0.05:
    print("Cannot reject H0 : No difference")
else:
    print("Can reject H0 : Difference")

t_c = 9.757, p = 0.000
Can reject H0 : Difference

### 3-b.

Show your results for a 99% confidence level (p=0.05). \
(Note: your Null hypothesis (H0) is that the population mean of the two groups is the same (no difference)

#### Age

In [13]:
tstat, p = ttest_ind(LoanYes["Age"], LoanNo["Age"])
print('t_c = %.3f, p = %.3f' % (tstat, p))

if p > 0.01:
    print("Cannot reject H0 : No difference")
else:
    print("Can reject H0 : Difference")

t_c = -0.546, p = 0.585
Cannot reject H0 : No difference

#### Income

In [14]:
tstat, p = ttest_ind(LoanYes["Income"], LoanNo["Income"])
print('t_c = %.3f, p = %.3f' % (tstat, p))

if p > 0.05:
    print("Cannot reject H0 : No difference")
else:
    print("Can reject H0 : Difference")

t_c = 41.085, p = 0.000
Can reject H0 : Difference

#### Education

In [15]:
tstat, p = ttest_ind(LoanYes["Education"], LoanNo["Education"])
print('t_c = %.3f, p = %.3f' % (tstat, p))

if p > 0.05:
    print("Cannot reject H0 : No difference")
else:
    print("Can reject H0 : Difference")

t_c = 9.757, p = 0.000
Can reject H0 : Difference