In [1]:
from DATA225utils import make_connection

In [2]:
conn = make_connection(config_file = 'school.ini')
cursor = conn.cursor()

In [3]:
cursor.execute('DROP PROCEDURE IF EXISTS teachers_names')
cursor.execute('DROP PROCEDURE IF EXISTS students_of')

In [4]:
cursor.execute( 
    """
    CREATE PROCEDURE teachers_names()
    BEGIN
        SELECT first, last FROM teacher
        ORDER BY last;
    END
    """
              )

In [5]:
sql = 'CALL teachers_names'
print(sql)
print()

generator = cursor.execute(sql, multi=True)

for result in generator:
    rows = cursor.fetchall()
    
    for row in rows:
        name = row[0] + ' ' + row[1]
        print(name)

CALL teachers_names

Mabel Flynn
John Lane
Pat Rogers
Sidney Thompson

In [6]:
cursor.execute( 
    """
    CREATE PROCEDURE students_of(IN first VARCHAR(32), 
                                 IN last VARCHAR(32))
    BEGIN
        SELECT student.id, student.first, student.last, 
               class.subject
        FROM student, teacher, class, takes
        WHERE teacher.last = last
        AND teacher.first = first
        AND class.teacher_id = teacher.id 
        AND takes.class_code = class.code
        AND takes.student_id = student.id 
        ORDER BY class.subject, student.last;
    END
    """
              )

In [7]:
sql = "CALL students_of('Mabel', 'Flynn')"
print(sql)
print()

generator = cursor.execute(sql, multi=True)

for result in generator:
    rows = cursor.fetchall()
    
    for row in rows:
        print(row)

CALL students_of('Mabel', 'Flynn')

('S1014', 'Mary', 'Jane', 'Machine Learning')
('S1005', 'Tim', 'Novak', 'Machine Learning')
('S1014', 'Mary', 'Jane', 'Python Programming')
('S1021', 'Kim', 'Smith', 'Python Programming')

In [8]:
cursor.close()
conn.close()