# Hypothesis Test

In [16]:
from scipy.stats import ttest_ind
from scipy.stats import ttest_rel
from scipy.stats import ttest_ind_from_stats
from scipy.stats import ttest_1samp
from scipy import stats
import pandas as pd
import numpy as np

The functions mentioned from the scipy.stats library are all used for hypothesis testing with t-tests, but they are applied in different scenarios. 

1. ttest_ind (Independent t-test):
This function is used to perform a two-sample independent t-test (also known as Student's t-test) to compare the means of two independent groups or samples.
It assumes that the two samples are independent of each other.
Example use case: Comparing the test scores of two different groups of students (e.g., Group A and Group B) to determine if there is a statistically significant difference between their means.

2. ttest_rel (Paired t-test):
This function is used to perform a paired t-test (related samples t-test) to compare the means of two related or paired samples.
It is typically used when you have paired data points, such as before-and-after measurements for the same set of subjects.
Example use case: Testing whether a new drug has a statistically significant effect by comparing the before-treatment and after-treatment measurements for the same group of patients.

3. ttest_ind_from_stats (t-test from summary statistics):
This function is used when you want to perform an independent t-test, but you have access to the summary statistics (mean, standard deviation, and sample size) of the two groups instead of the raw data.
It calculates the t-statistic and p-value from the provided summary statistics.
Example use case: Conducting a t-test when you only have access to the summary statistics for two populations (e.g., population means and standard deviations).

4. ttest_1samp (One-sample t-test):
This function is used to perform a one-sample t-test to compare the mean of a single sample to a known population mean or a specified hypothesized mean.
It is used when you want to determine if the sample mean is significantly different from a known or hypothesized population mean.
Example use case: Testing if the mean weight of a sample of apples is significantly different from a specified average weight.

# Independent t-test (ttest_ind):

In [17]:
# Sample data for two independent groups
#Comparing the test scores of two different groups of students (e.g., Group A and Group B) to determine if there is a statistically significant difference between their means.

group_a = np.array([82, 87, 71, 75, 91])
group_b = np.array([65, 70, 80, 85, 78])

# Perform an independent t-test
t_statistic, p_value = ttest_ind(group_a, group_b)

# Print the results
print("Independent t-test results:")
print("T-statistic:", t_statistic)
print("P-value:", p_value)

# Interpret the results based on the p-value and alpha level
alpha = 0.05
if p_value > alpha:
    print("Cannot reject null hypothesis (H0 wins): There is no significant difference between the groups.")
else:
    print("Cannot accept H0 (H1 wins): There is a significant difference between the groups.")

Independent t-test results:
T-statistic: 1.0878401658401375
P-value: 0.3083500337926927
Cannot reject null hypothesis (H0 wins): There is no significant difference between the groups.

# Paired t-test (ttest_rel):

In [3]:
# Sample data for paired observations (before and after)
#T esting whether a new drug has a statistically significant effect by comparing the before-treatment and after-treatment measurements for the same group of patients.

before = np.array([24, 28, 20, 22, 30])
after = np.array([20, 26, 18, 20, 28])

# Perform a paired t-test
t_statistic, p_value = stats.ttest_rel(before, after)

# Print the results
print("Paired t-test results:")
print("T-statistic:", t_statistic)
print("P-value:", p_value)

# Interpret the results based on the p-value and alpha level
alpha = 0.05
if p_value > alpha:
    print("Cannot reject null hypothesis (H0 wins): There is no significant difference between the groups.")
else:
    print("Cannot accept H0 (H1 wins): There is a significant difference between the groups.")

Paired t-test results:
T-statistic: 5.999999999999998
P-value: 0.0038825370469605155
Cannot accept H0 (H1 wins): There is a significant difference between the groups.

# Independent t-test from summary statistics (ttest_ind_from_stats):

In [4]:
# Summary statistics for two independent groups
mean_a = 82
stddev_a = 5
n_a = 5
mean_b = 75
stddev_b = 6
n_b = 5

# Perform an independent t-test using summary statistics
t_statistic, p_value = stats.ttest_ind_from_stats(mean_a, stddev_a, n_a, mean_b, stddev_b, n_b)

# Print the results
print("Independent t-test from summary statistics:")
print("T-statistic:", t_statistic)
print("P-value:", p_value)

# Interpret the results based on the p-value and alpha level
alpha = 0.05
if p_value > alpha:
    print("Cannot reject null hypothesis (H0 wins): There is no significant difference between the groups.")
else:
    print("Cannot accept H0 (H1 wins): There is a significant difference between the groups.")

Independent t-test from summary statistics:
T-statistic: 2.0040941700985386
P-value: 0.080007112154228
Cannot reject null hypothesis (H0 wins): There is no significant difference between the groups.

# One-sample t-test (ttest_1samp):

In [5]:
# Sample data for a one-sample t-test
data = np.array([68, 72, 71, 69, 70, 73, 75, 72, 70, 71])

# Hypothesized population mean
pop_mean = 70

# Perform a one-sample t-test
t_statistic, p_value = stats.ttest_1samp(data, pop_mean)

# Print the results
print("One-sample t-test results:")
print("T-statistic:", t_statistic)
print("P-value:", p_value)

# Interpret the results based on the p-value and alpha level
alpha = 0.05
if p_value > alpha:
    print("Cannot reject null hypothesis (H0 wins): There is no significant difference between the groups.")
else:
    print("Cannot accept H0 (H1 wins): There is a significant difference between the groups.")

One-sample t-test results:
T-statistic: 1.717911380774658
P-value: 0.11993750720434512
Cannot reject null hypothesis (H0 wins): There is no significant difference between the groups.

# Test Dataset

In [12]:
df = pd.read_csv('RidingMowers.csv')
df.head()

   Income  Lot_Size Ownership
0    60.0      18.4     Owner
1    85.5      16.8     Owner
2    64.8      21.6     Owner
3    61.5      20.8     Owner
4    87.0      23.6     Owner

In [13]:
df.tail()

    Income  Lot_Size Ownership
19    66.0      18.4  Nonowner
20    47.4      16.4  Nonowner
21    33.0      18.8  Nonowner
22    51.0      14.0  Nonowner
23    63.0      14.8  Nonowner

In [26]:
OW1 = df[df['Ownership'] == 'Owner']
OW2 = df[df['Ownership'] == 'Nonowner']

In [27]:
OW1.head()

   Income  Lot_Size Ownership
0    60.0      18.4     Owner
1    85.5      16.8     Owner
2    64.8      21.6     Owner
3    61.5      20.8     Owner
4    87.0      23.6     Owner

In [34]:
OW2.head()

    Income  Lot_Size Ownership
12    75.0      19.6  Nonowner
13    52.8      20.8  Nonowner
14    64.8      17.2  Nonowner
15    43.2      20.4  Nonowner
16    84.0      17.6  Nonowner

In [35]:
t_statistic, p_value = ttest_ind(OW1['Income'],OW2['Income'])

# Print the results
print("Independent t-test results:")
print("T-statistic:", t_statistic)
print("P-value:", p_value)

# Interpret the results based on the p-value and alpha level
alpha = 0.05
if p_value > alpha:
    print("Cannot reject null hypothesis (H0 wins): There is no significant difference between the groups.")
else:
    print("Cannot accept H0 (H1 wins): There is a significant difference between the groups.")

Independent t-test results:
T-statistic: 3.25081043903222
P-value: 0.0036651111764106348
Cannot accept H0 (H1 wins): There is a significant difference between the groups.

In [36]:
t_statistic, p_value = ttest_ind(OW1['Lot_Size'],OW2['Lot_Size'])

# Print the results
print("Independent t-test results:")
print("T-statistic:", t_statistic)
print("P-value:", p_value)

# Interpret the results based on the p-value and alpha level
alpha = 0.05
if p_value > alpha:
    print("Cannot reject null hypothesis (H0 wins): There is no significant difference between the groups.")
else:
    print("Cannot accept H0 (H1 wins): There is a significant difference between the groups.")

Independent t-test results:
T-statistic: 3.1203123968567885
P-value: 0.004982607917620837
Cannot accept H0 (H1 wins): There is a significant difference between the groups.