# Object-Relational Mapping (ORM):<br>The `school` Database

## Imports from `sqlalchemy`.

In [ ]:
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session

## Create a session to interact with the database.

In [ ]:
str = 'mysql+mysqlconnector://root:seekrit@localhost/school'
engine = create_engine(str)
session = Session(engine)

## Prepare to map Python objects to database tables.

In [ ]:
base = automap_base()
base.prepare(engine, reflect=True)

## Map the database tables to Python classes.

In [ ]:
Student = base.classes.student
Contact = base.classes.contact

## Query the `student` table.

In [ ]:
result = session.query(Student)

for s in result:
    print(s.id, s.first, s.last)

#### What did SQLAlchemy send to the database server?

In [ ]:
print(session.query(Student))

In [ ]:
result = session.query(Student).first();

print(result.first, result.last)

In [ ]:
result = session.query(Student).get('S1005')

print(result.first, result.last)

In [ ]:
result = session.query(Student).filter(Student.id > 'S1009').all()

for s in result:
    print(s.id, s.first, s.last)

## Query the contact table.

In [ ]:
result = session.query(Contact)

for a in result:
    print(a.id, a.email)

## Join the student and contact tables.

In [ ]:
result = session.query(Student.id, Student.first, Student.last, Contact.email) \
                .join(Contact).all()

for r in result:
    print(r)

#### What did SQLAlchemy send to the database server?

In [ ]:
print(session.query(Student).join(Contact))

## Close.

In [ ]:
session.close()
engine.connect().close()
engine.dispose()