# Object-Relational Mapping (ORM):<br>The `customer` Database

## Imports from `sqlalchemy`.

In [ ]:
import sqlalchemy
from sqlalchemy import create_engine, inspect
from sqlalchemy import MetaData, Table, Column, Integer, String
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session

## Create a session to interact with the database.

In [ ]:
str = 'mysql+mysqlconnector://root:seekrit@localhost/customer'
engine = create_engine(str)
session = Session(engine)

## Prepare to map Python objects to database tables.

In [ ]:
base = automap_base()
base.prepare(engine, reflect=True)

## Drop the person table.

In [ ]:
try:
    base.classes.person.__table__.drop(engine)
    print('Person table dropped.')
except:
    print('Person table did not exist.')

## Metadata for table creation.

In [ ]:
metadata = MetaData(engine)

## Create the person table.

In [ ]:
Table('person', metadata,
      Column('id', Integer, primary_key=True, nullable=False),
      Column('first_name', String(32), nullable=False),
      Column('last_name', String(32), nullable=False),
      Column('username', String(16), nullable=False),
      Column('email', String(32), nullable=False),
      Column('address', String(32), nullable=False),
      Column('town', String(32), nullable=False)
     )

metadata.create_all()

## Prepare to map Python objects to database tables.

In [ ]:
base = automap_base()
base.prepare(engine, reflect=True)

## Map the `person` table to the `Person` class.

In [ ]:
Person = base.classes.person

## Create two `Person` objects.

In [ ]:
person_1 = Person(first_name = 'Toby', 
                  last_name = 'Miller', 
                  username = 'tmiller', 
                  email = 'tmiller@example.com', 
                  address = '1662 Kinney Street',
                  town = 'Wolfden'
                 )

person_2 = Person(first_name = 'Scott', 
                  last_name = 'Harvey', 
                  username = 'scottharvey', 
                  email = 'scottharvey@example.com', 
                  address = '424 Patterson Street',
                  town = 'Beckinsdale'
                 )

In [ ]:
for p in [person_1, person_2]:
    print(p.username, p.first_name, p.last_name)

## Insert the Person objects into table `person`.

In [ ]:
session.add_all([person_1, person_2])
session.commit()

## Close.

In [ ]:
session.close()
engine.connect().close()
engine.dispose()