# Transactions (SQL Commands Version)

In [ ]:
from DATA225utils import make_connection, dataframe_query

In [ ]:
conn = make_connection(config_file = 'transactions.ini')
cursor = conn.cursor()

In [ ]:
def show_numbers():
    _, df = dataframe_query(conn, 'SELECT * FROM numbers')
    display(df)

In [ ]:
cursor.execute('DROP TABLE IF EXISTS numbers')

cursor.execute( 
    """
    CREATE TABLE numbers
    (
        field INT NOT NULL,
        PRIMARY KEY (field)
    )
    """
              )

### `START TRANSACTION`

In [ ]:
cursor.execute('START TRANSACTION')

In [ ]:
cursor.execute(f'INSERT INTO numbers VALUES (10)')
cursor.execute(f'INSERT INTO numbers VALUES (20)')
cursor.execute(f'INSERT INTO numbers VALUES (30)')

show_numbers()

### `COMMIT`

In [ ]:
cursor.execute('COMMIT')

### `START TRANSACTION`

In [ ]:
cursor.execute('START TRANSACTION')

In [ ]:
cursor.execute(f'INSERT INTO numbers VALUES (40)')
cursor.execute(f'INSERT INTO numbers VALUES (50)')

show_numbers()

### `ROLLBACK`

In [ ]:
cursor.execute('ROLLBACK')

show_numbers()

### `START TRANSACTION`

In [ ]:
cursor.execute('START TRANSACTION')

In [ ]:
cursor.execute(f'INSERT INTO numbers VALUES (60)')
cursor.execute(f'INSERT INTO numbers VALUES (70)')

show_numbers()

### `COMMIT`

In [ ]:
cursor.execute('COMMIT')

### `START TRANSACTION`

In [ ]:
cursor.execute('START TRANSACTION')

In [ ]:
cursor.execute(f'INSERT INTO numbers VALUES (80)')
cursor.execute(f'INSERT INTO numbers VALUES (90)')

show_numbers()

### `START TRANSACTION` -- implicit commit

#### SQL commands that cause an **implicit commit** include `ALTER`, `BEGIN`, `CREATE`, `DROP`, `START TRANSACTION`.

In [ ]:
cursor.execute('START TRANSACTION')

In [ ]:
cursor.close()
conn.close()