# Query Results and Pandas Dataframes

#### Pandas is a key Python library for data science. It is built upon NumPy, the library for doing numerical computations with matrices.

#### The DataFrame is a principal data structure in the Pandas library:
- It is a table with rows and columns.
- It is an ideal structure to store query results.
- It supports many data analytical functions

In [ ]:
from DATA225utils import make_connection
from pandas import DataFrame

In [ ]:
conn = make_connection('school.ini')
cursor = conn.cursor()

### Who are the students of Mabel Flynn?

In [ ]:
sql = ( """
        SELECT student.first, student.last, subject 
        FROM student, teacher, class, takes 
        WHERE teacher.last = 'Flynn' 
        AND teacher.first = 'Mabel' 
        AND teacher_id = teacher.id 
        AND code = class_code 
        AND student_id = student.id 
        ORDER BY subject, student.last
        """
      )

cursor.execute(sql)

In [ ]:
rows  = cursor.fetchall()
count = cursor.rowcount

print(f'count = {count}')
print()
display(rows)

### Get the names of the columns using **list comprehension**.

In [ ]:
columns = cursor.description
column_names = [column_info[0] for column_info in columns]

columns

### Get the names of the columns using a `for` loop.

In [ ]:
column_names = []
for column_info in columns:
    column_names.append(column_info[0])

column_names

### Create and display the dataframe if there were rows.

In [ ]:
if count > 0:
    df = DataFrame(rows)
    df.columns = column_names
    display(df)
    
else:
    print('No students.')

In [ ]:
cursor.close()
conn.close()

#### Fetching query results into a dataframe is a common operation we can add as another function in our Python database utilities file **`DATA225utils.py`**.

In [ ]:
# Copyright (c) 2023 by Ronald Mak