# Bar Charts of Titanic Passenger Ages
## Compute age frequencies with server-side SQL

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
from DATA225utils import make_connection, dataframe_query

In [ ]:
conn = make_connection(config_file = 'titanic.ini')
cursor = conn.cursor()

#### Do the calculations in the database and only download the frequency numbers. The `count()` function only counts non-null values. String `NA` for a missing age evaluates to 0.

In [ ]:
sql = ( """
        SELECT
            COUNT(IF (age BETWEEN 0.001 AND 1.999, 1, NULL)) AS baby,
            COUNT(IF (age BETWEEN  2 AND 12.999,   1, NULL)) AS child,
            COUNT(IF (age BETWEEN 13 AND 19.999,   1, NULL)) AS teen,
            COUNT(IF (age BETWEEN 20 AND 24.999,   1, NULL)) AS youth,
            COUNT(IF (age BETWEEN 25 AND 64.999,   1, NULL)) AS adult,
            COUNT(IF (age >= 65,                   1, NULL)) AS senior
        FROM passengers
        """
      )

_, df = dataframe_query(conn, sql)
df

#### Extract the row from the dataframe.

In [ ]:
counts = df.iloc[0].tolist()
counts

#### Get the column headers.

In [ ]:
labels = df.columns.tolist()
labels

#### Create the bar chart.

In [ ]:
fig = plt.figure(figsize = (6, 5))

plt.bar(labels, counts, color = 'blue', width = 0.5)

plt.xlabel('Age categories')
plt.ylabel('Counts')
plt.title('Titanic Age Counts')

In [ ]:
cursor.close()
conn.close()